.card {
    margin: 0 auto;
    border: 2px solid grey;
    width: 300px;
    margin-top: 10px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}

.removeButton {
    float: right;
    background-color: red;
}

.doneButton {
    float: right;
    background: green;
}

.cardDone {
    text-decoration: underline;
}