.todoWrapper {
    margin: 0 auto;
    text-align: center;
}

.inputWrapper {
    display: block;
    margin-top: 20px;
}

.buttonWrapper {
    margin-top: 10px;
}

.cardsColumnWrapper {
    display: flex;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
}

.cardsColumn {
    width: 50%;
}
